<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="get_ip2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <get_ip2.My.MySettings>
            <setting name="ip_public" serializeAs="String">
                <value />
            </setting>
            <setting name="correo" serializeAs="String">
                <value />
            </setting>
            <setting name="clave" serializeAs="String">
                <value />
            </setting>
            <setting name="tipo_mail" serializeAs="String">
                <value />
            </setting>
            <setting name="envios" serializeAs="String">
                <value />
            </setting>
            <setting name="iniciar_con_sistema" serializeAs="String">
                <value />
            </setting>
        </get_ip2.My.MySettings>
    </userSettings>
</configuration>